

		 <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-signin", :id => "target"}) do |f| %>
		<div class="control-group">
		  <%= f.email_field :email, :type => "text", :class => "input-block-level", :autofocus => "autofocus", :placeholder => "E-mail" %>
		</div>

		<div class="control-group">
		  <%= f.password_field :password,:type => "text", :class => "input-block-level", :autofocus => "autofocus", :placeholder => "Mot de passe" %>
		</div>
				
		<div class="control-group">
			<div>
			<div style="float: left; text-align: center; "><% if devise_mapping.rememberable? -%> <%= f.check_box :remember_me %> <%= f.label :remember_me %><% end -%></div><div style="text-align: right;"><input class="btn btn-primary" type="submit" value="Valider" id="login-btn" /></div>		  
			</div>
		</div>		

		<div class="control-group no-border">
		<div style="text-align: right;">
		<%= render "devise/shared/links" %>
		</div>
		</div>		

		<% end -%>
