				<!-- aside -->	
				<aside>	
					
					<!-- search box -->
					<div class="main-search">
						<label for="main-search"><i class="icon-search"></i></label>
	                    <input id="main-search" type="text" placeholder="Search..." />
                	</div>
					<div class="divider"></div>
					<!-- end search box -->
										
					<!-- aside item: Mini profile -->
					<div class="my-profile">
						
						<span class="first-child"><strong><%= current_user.prenom%> <%= current_user.nom%></strong></span>
						<span><%= link_to "Editer mon profil", controller: "users", action: "edit" %>
						</span>
					</div>
					<div class="divider"></div>
					<!-- end aside item: Mini profile -->

					<!-- aside item: Menu -->
					<div class="sidebar-nav-fixed">
						
						<ul class="menu" id="accordion-menu-js">
							<li class="<% if @classaccordeon=="index"%><%="current"%>"<%else%><%end%>">
								<a href="javascript:void(0)"><i class="icon-off"></i>Tableaux de bord<span class="badge">2</span></a>
								<ul>
									<li>
										<a href="/index.html" class="<% if @classaccordeon=="index"%><%="expanded"%><%else%><%end%>">Tableau de bord</a>
									</li>
									<li>
										<%= link_to "Quitter la session", destroy_user_session_path, method: "delete",  class: "logout-js"%>
									</li>
									
								</ul>
							</li>

							<li class="<% if @classaccordeon=="admincabinet"%><%="current"%><%else%><%end%>">
								<a href="javascript:void(0)"><i class="icon-envelope"></i>Administration cabinet</a>
								<ul>
									<li>
										<a href="/clients.html" class="<% if @classaccordeon=="admincabinet"%><%="expanded"%><%else%><%end%>">Gestion des clients</a>
									</li>
									<li>
										<a href="javascript:void(0);" class="logout-js" data-rel="login.html">Quitter la session</a>
									</li>
								</ul>							
							</li>

							
							<li class="<% if @classaccordeon=="comptabilite"%><%="current"%><%else%><%end%>">
								<a href="javascript:void(0)"><i class="icon-check"></i>Comptabilité<span class="badge">3</span></a>
								<ul>
									<li>
										<a href="forms.html" class="<% if @classaccordeon=="comptabilite"%><%="expanded"%><%else%><%end%>">Comptabilite</a>
									</li>
									<li>
										<a href="validation.html">Saisie</a>
									</li>
									<li>
										<a href="wizard.html">Lettrage</a>
									</li>
								</ul>
							</li>
							
							<li class="<% if @classaccordeon=="social"%><%="current"%><%else%><%end%>">
								<a href="javascript:void(0)"><i class="icon-user"></i>Social<span class="badge">3</span></a>
								<ul>
									<li>
										<a href="interface.html" class="<% if @classaccordeon=="social"%><%="expanded"%><%else%><%end%>">Paye</a>
									</li>
									<li>
										<a href="buttons.html">Déclarations/DSN</a>
									</li>
									<li>
										<a href="tables.html">Dossiers salariés</a>
									</li>
								</ul>
							</li>
							<li class="<% if @classaccordeon=="fiscal"%><%="current"%><%else%><%end%>">
								<a href="javascript:void(0)"><i class="icon-signal"></i>Fiscalité<span class="badge">2</span></a>
								<ul>
									<li>
										<a href="basic_charts.html" class="<% if @classaccordeon=="social"%><%="expanded"%><%else%><%end%>">TVA</a>
									</li>
									<li>
										<a href="adv_charts.html">Impot sur les sociétés</a>
									</li>
									
									<li>
										<a href="adv_charts.html">Autres impôts</a>
									</li>
									<li>
										<a href="adv_charts.html">Contrôles fiscaux</a>
									</li>
								</ul>
							</li>

							<li class="<% if @classaccordeon=="juridique"%><%="current"%><%else%><%end%>">
								<a href="widgets.html"><i class="icon-refresh"></i>Juridique</a>
								<ul>
									<li>
										<a href="basic_charts.html" class="<% if @classaccordeon=="juridique"%><%="expanded"%><%else%><%end%>">Assemblées</a>
									</li>
									<li>
										<a href="adv_charts.html">Formalités sociétés</a>
									</li>
									
									<li>
										<a href="adv_charts.html">Cessions fonds de commerces</a>
									</li>
								</ul>

							</li>


							<li class="">
								<a href="javascript:void(0)"><i class="icon-plus"></i>Bonus<span class="badge">3</span></a>
								<ul>
									<li>
										<a href="invoice.html">Invoice</a>
									</li>
									<li>
										<a href="typography.html">Typography</a>
									</li>
									<li>
										<a href="chat.html">Chat</a>
									</li>
								</ul>
							</li>
						</ul>
						
					</div>
					<div class="divider"></div>
					<!-- end aside item: Menu -->
					
					<!-- aside item: Inbox -->
					<!-- inbox message 1-->
					<div class="mini-inbox">
						<div class="alert inbox">
							<button type="button" class="close" data-dismiss="alert">
								×
							</button>
							
							<a href="javascript:void(0)">
								<img src=<%=image_path("email-important.png")%> width="22" height="18" alt="important mail" />
								From:David S...
							</a>
							Dear Victoria, Congratulations! You work has been uploade...
						</div>
						<!-- inbox message 2-->
						<div class="alert inbox">
							<button type="button" class="close" data-dismiss="alert">
								×
							</button>
							<a href="javascript:void(0)">
								<img src=<%=image_path("email-unread.png")%> width="22" height="18" alt="important mail" />
								Re:Last Year...
							</a>
							Hey Vicky, find attached! Thx :-)
						</div>
						<!-- inbox message 3-->
						<div class="alert inbox last-child">
							<button type="button" class="close" data-dismiss="alert">
								×
							</button>
							<a href="javascript:void(0)">
								<img src=<%=image_path("email-unread.png")%> width="22" height="18" alt="important mail" />
								Company Party
							</a>
							Hi, You have been cordially invited to join new year...
						</div>
						
					</div>
					<div class="divider"></div>
					<!-- end aside item: Inbox -->
					
					<!-- aside item: Tiny Stats -->
					<div class="number-stats">
				    	<ul>
				        	<li>4579<span>visitors</span></li>
				            <li>571<span>orders</span></li>
				            <li>879<span>reviews</span></li>
				        </ul>
				    </div>
				    <div class="divider"></div>
					<!-- end aside item: Tiny Stats -->
					
					<!-- aside buttons -->
					<div class="aside-buttons">
		                <a href="javascript:void(0)" title="" class="btn btn-primary">Create an Invoice</a>
		            </div>
		            <div class="divider"></div>
		            <!-- end aside buttons -->
				</aside>
				<!-- aside end -->

